{% extends "base.html" %}
{% block title%}Home{% endblock %}
{% block content%}
<!--이 안에 작성-->
<!--지도용 script 추가-->

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=aqknd5ytgc">
</script>

<script>
    $(function(){
        var mapOptions = {
            center: new naver.maps.LatLng(37.509729, 127.055447),
            zoom: 11,
            scaleControl: false,  // 축적 표시
            logoControl: false,  // 네이버 로고
            mapDataControl: false,  // 저작권 표시
            zoomControl: true,  // +/- 줌 컨트롤
            zoomControlOptions: {
                style: naver.maps.ZoomControlStyle.LARGE
            }
        };

        var map = new naver.maps.Map('map', mapOptions);

        // marker 반복문 이용!!! 하려구요

        {% for mark in market_detail %}
        var marker = new naver.maps.Marker({
            position : new naver.maps.LatLng({{mark.latitude}},{{mark.longitude}}),
            map : map,
        });

        {% endfor %}



    });


</script>

<!--지도용 script 추가 끝 -->


<!--보여줄 곳-->
<h1>홈 페이지</h1>
<div id="map" style="width:1000px;height:400px;">
123
</div>
{{ market
<!--보여줄 곳 끝-->



</script>

<!--이 안에 작성-->
{% endblock %}



